Repository ayomide0806967/TOPTOP: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: detect-private-key

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          [javascript, jsx, ts, tsx, json, yaml, html, css, scss, markdown]
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings=0 --ext .js,.jsx,.cjs,.mjs
        language: system
        types_or: [javascript, jsx]

Remove card shadows from learner dashboard
  apps/learner/admin-board.html
Due: prettier

Fix admin login and harden dashboard stats view
  apps/admin/src/services/authService.js
  supabase/migrations/20250927204312_init.sql
  supabase/restore_admin_dashboard_stats.sql
Due: prettier, eslint

Fix renewal not reflecting for learners
  apps/learner/src/dashboard.js
  supabase/functions/_shared/paystack.ts
  supabase/migrations/20260211113000_fix_default_subscription_after_renewal.sql
Due: prettier, eslint

Remove large dashboard quiz icon
  apps/learner/src/dashboard.js
Due: prettier, eslint

Fix calculator operator button contrast
  apps/shared/design-system.css
Due: prettier

Fix dark-mode exam rendering and admin access messaging
  apps/admin/src/main.js
  apps/admin/src/services/authService.js
  apps/shared/design-system.css
  docs/ADMIN_ACCESS.md
  supabase/restore_admin_dashboard_stats.sql
Due: prettier, eslint

Improve admin user update error handling
  apps/admin/src/services/dataService.js
  supabase/functions/admin-update-user/index.ts
Due: prettier, eslint

Preserve existing profile roles on learner sign-in
  apps/learner/src/auth.js
Due: prettier, eslint

Wrap previous study cycle cards
  apps/admin/src/views/studyCycles.js
Due: prettier, eslint

Expand previous study cycle cards to full width
  apps/admin/src/views/studyCycles.js
Due: prettier, eslint

Move expanded study cycle cards onto a new row
  apps/admin/src/views/studyCycles.js
Due: prettier, eslint

Extend WhatsApp OTP expiry to 10 minutes
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  supabase/config.toml
Due: prettier, eslint

Extend WhatsApp resend cooldown to 10 minutes
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
Due: prettier, eslint

Restyle WhatsApp buttons with white surfaces
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/subscription-plans.html
Due: prettier

Update WhatsApp logo asset
  apps/assets/whatsapp-logo.svg
Due: none

Bust learner auth script cache
  apps/learner/admin-board.html
  apps/learner/login.html
Due: prettier

Remove WhatsApp icon from send button
  apps/assets/whatsapp-logo.svg
  apps/learner/login.html
Due: prettier

Add WhatsApp logo fallback handling
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
  apps/shared/whatsappLogoFallback.js
Due: prettier, eslint

Persist pending WhatsApp OTP state on login
  apps/learner/src/auth.js
Due: prettier, eslint

Fix Better Auth user seed UUID type
  migrations/self_hosted/020_seed_better_auth_users.sql
Due: none

Ignore local migration backups
  .gitignore
Due: none

Fix Better Auth route ordering
  server/routes/index.js
Due: prettier, eslint

Respect secure cookie env override
  server/auth/betterAuth.js
  server/config/env.js
Due: prettier, eslint

Add migrated account claim flow
  apps/learner/login.html
  apps/learner/src/auth.js
  server/modules/registration/registration.repo.js
  server/modules/registration/registration.schemas.js
  server/modules/registration/registration.service.js
  server/routes/registration.routes.js
Due: prettier, eslint

Expose public registration routes before auth guard
  server/routes/index.js
Due: prettier, eslint

Fix migrated account credential insert
  server/modules/registration/registration.repo.js
Due: prettier, eslint

Avoid rolling back account claim without session table
  server/modules/registration/registration.repo.js
Due: prettier, eslint

Add smart migrated account recovery
  apps/learner/login.html
  apps/learner/src/auth.js
  server/modules/registration/registration.repo.js
  server/modules/registration/registration.schemas.js
  server/modules/registration/registration.service.js
  server/modules/users/users.repo.js
  server/modules/users/users.schemas.js
  server/modules/users/users.service.js
  server/routes/users.routes.js
Due: prettier, eslint

Allow migrated recovery without current password
  apps/learner/login.html
  apps/learner/src/auth.js
Due: prettier, eslint

Fix fallback learner redirect path
  index.html
Due: prettier

Clarify migrated recovery and remove static Paystack key
  apps/learner/login.html
  apps/learner/registration-before-payment.html
  apps/learner/resume-registration.html
  apps/learner/src/auth.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

Scaffold Expo learner app
  apps/mobile/.gitignore
  apps/mobile/app.json
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/home.tsx
  apps/mobile/app/(tabs)/practice.tsx
  apps/mobile/app/(tabs)/profile.tsx
  apps/mobile/app/(tabs)/results.tsx
  apps/mobile/app/(tabs)/subscription.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/register/course.tsx
  apps/mobile/app/register/department.tsx
  apps/mobile/app/register/payment.tsx
  apps/mobile/app/register/plan.tsx
  apps/mobile/app/register/profile.tsx
  apps/mobile/app/sign-in.tsx
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/favicon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/OptionCard.tsx
  apps/mobile/src/components/PageHeader.tsx
  apps/mobile/src/components/Screen.tsx
  apps/mobile/src/components/TextField.tsx
  apps/mobile/src/data/catalog.ts
  apps/mobile/src/state/registration.tsx
  apps/mobile/src/theme.ts
  apps/mobile/tsconfig.json
  package.json
  vitest.config.js
Due: prettier, eslint
