Repository ayomide0806967/TOPTOP: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --max-warnings=0 --ext .js,.jsx,.cjs,.mjs
  language: system

feat(auth): add Google and email OTP login for learners
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/src/pricing.js
  docs/AUTH_PROVIDERS.md
Due: prettier, eslint

chore(auth): wire pricing and registration to new login options
  apps/learner/registration-before-payment.html
  apps/learner/src/registration-before.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

feat(registration): add Google/OTP entry option before manual form
  apps/learner/registration-before-payment.html
  apps/learner/src/registration-before.js
Due: prettier, eslint

feat(pricing): show auth choice modal after plan select
  apps/learner/src/auth.js
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

fix(pricing): start Google OAuth directly from plan modal
  apps/learner/src/pricing.js
Due: prettier, eslint

feat(pricing): show full-page loader while starting Google OAuth
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

ui(pricing): use minimalist loader spinner
  apps/learner/subscription-plans.html
Due: prettier

perf(pricing): warm Supabase and tighten Google redirect URL
  apps/learner/src/pricing.js
Due: prettier, eslint

fix(payment): wait for Paystack verification before redirect
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

chore(learner): tighten pricing page hero
  apps/learner/subscription-plans.html
Due: prettier

feat(learner): tighten pricing layout and soften plan copy
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

chore(learner): soften pricing language
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

chore(learner): remove AI-sounding pricing copy
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

feat(learner): add Google icon to login button
  apps/learner/login.html
Due: prettier

feat(learner): refine dashboard layout and nav bar
  apps/assets/tailwind.css
  apps/learner/admin-board.html
Due: prettier

fix(pwa): avoid stale dashboard assets
  apps/learner/service-worker.js
Due: prettier, eslint

ui(learner): simplify quiz card copy and layout
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

fix(cache): version learner assets and simplify PWA shell
  apps/learner/about-us.html
  apps/learner/admin-board.html
  apps/learner/blog.html
  apps/learner/careers.html
  apps/learner/contact.html
  apps/learner/exam-face-new.html
  apps/learner/exam-face.html
  apps/learner/forgot-password.html
  apps/learner/help-center.html
  apps/learner/index.html
  apps/learner/login.html
  apps/learner/offline.html
  apps/learner/press-release.html
  apps/learner/privacy-policy.html
  apps/learner/registration-before-payment.html
  apps/learner/reset-password.html
  apps/learner/result-face.html
  apps/learner/resume-registration.html
  apps/learner/service-worker.js
  apps/learner/subscription-plans.html
  apps/learner/terms-of-service.html
Due: prettier, eslint

chore(ui): use logo favicon across learner pages
  apps/assets/academicnightingale-icon-32.png
  apps/assets/favicon.ico
  apps/learner/about-us.html
  apps/learner/admin-board.html
  apps/learner/blog.html
  apps/learner/careers.html
  apps/learner/contact.html
  apps/learner/exam-face-new.html
  apps/learner/exam-face.html
  apps/learner/forgot-password.html
  apps/learner/help-center.html
  apps/learner/index.html
  apps/learner/login.html
  apps/learner/offline.html
  apps/learner/press-release.html
  apps/learner/privacy-policy.html
  apps/learner/registration-before-payment.html
  apps/learner/reset-password.html
  apps/learner/result-face.html
  apps/learner/resume-registration.html
  apps/learner/subscription-plans.html
  apps/learner/terms-of-service.html
  favicon.ico
Due: prettier

content(about): update impact stats
  apps/learner/about-us.html
Due: prettier

feat(landing): add learner login button in hero
  apps/learner/index.html
Due: prettier

Add Examination Hall (PIN exams)
  apps/admin/dashboard.html
  apps/admin/src/main.js
  apps/admin/src/services/dataService.js
  apps/admin/src/views/freeQuizzes.js
  apps/admin/src/views/index.js
  apps/learner/examination-hall.html
  apps/learner/index.html
  apps/learner/src/exam-face.js
  apps/learner/src/examination-hall.js
  apps/learner/src/result-face.js
Due: prettier, eslint

Fix Examination Hall Supabase client init
  apps/learner/examination-hall.html
  apps/learner/src/examination-hall.js
Due: prettier, eslint

Allow exam hall without candidates
  apps/admin/src/views/freeQuizzes.js
Due: prettier, eslint

Track Supabase migrations
  .gitignore
  supabase/migrations/20250927204312_init.sql
  supabase/migrations/20250930155134_add_missing_subscription_status.sql
  supabase/migrations/20251001120000_department_slots.sql
  supabase/migrations/20251021090000_add_profile_fields.sql
  supabase/migrations/20251021095000_add_plan_timers.sql
  supabase/migrations/20251118140000_schedule_health.sql
  supabase/migrations/20251118153000_paystack_integration.sql
  supabase/migrations/20251118160000_fix_generate_daily_quiz.sql
  supabase/migrations/20251118170000_add_question_image.sql
  supabase/migrations/20251118180000_add_department_to_profiles.sql
  supabase/migrations/20251118190000_add_status_to_profiles.sql
  supabase/migrations/20251118200000_add_impersonation.sql
  supabase/migrations/20251118210000_add_profiles_last_seen_index.sql
  supabase/migrations/20251118213000_free_quizzes.sql
  supabase/migrations/20251201120000_multi_plan_subscriptions.sql
  supabase/migrations/20251201133000_profile_single_session.sql
  supabase/migrations/20251201143000_fix_generate_daily_quiz_return.sql
  supabase/migrations/20251202100000_fix_generate_daily_quiz_alias.sql
  supabase/migrations/20251202150000_add_registration_token_to_profiles.sql
  supabase/migrations/20251205120000_extra_questions.sql
  supabase/migrations/20251205131000_extra_question_time_limit.sql
  supabase/migrations/20251210100000_speed_up_topic_deletion.sql
  supabase/migrations/20251210160000_registration_overhaul.sql
  supabase/migrations/20251220100000_quiz_seat_billing.sql
  supabase/migrations/20251220122000_create_quiz_blueprints.sql
  supabase/migrations/20251222090000_enable_realtime_profiles.sql
  supabase/migrations/20251222100000_trim_large_payloads.sql
  supabase/migrations/20251223110000_daily_quiz_retention.sql
  supabase/migrations/20260122130000_examination_hall.sql
  supabase/migrations/20260122142000_exam_hall_optional_candidates.sql
Due: none

Enable exam hall answer review after submit
  apps/learner/src/result-face.js
  supabase/migrations/20260122152000_exam_hall_answer_review.sql
Due: prettier, eslint

Resume exam hall attempts or show results
  apps/learner/src/exam-face.js
  apps/learner/src/examination-hall.js
  supabase/migrations/20260122163000_exam_hall_reuse_pin_resume_or_results.sql
Due: prettier, eslint

Fix exam hall review option correctness rendering
  apps/learner/src/result-face.js
Due: prettier, eslint

Fix quiz generation cycle selection and admin schedule view
  apps/admin/src/instructorDashboard.js
  apps/admin/src/services/dataService.js
  apps/learner/service-worker.js
  apps/learner/src/dashboard.js
  apps/shared/dataIsolation.js
  apps/shared/quiz-engine.js
  supabase/migrations/20260131110000_fix_cycle_selection_and_admin_mismatch.sql
  test-multi-tenant.js
Due: prettier, eslint

Set daily quiz retention to 180 days
  supabase/migrations/20260131120000_update_daily_quiz_retention_180d.sql
Due: none

Fix Paystack double-extension; expand quiz history
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  supabase/fix_overextended_subscriptions.sql
  supabase/functions/_shared/paystack.ts
Due: prettier, eslint

Add WhatsApp OTP auth and disable manual registration
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/registration-before-payment.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/src/pricing.js
  apps/learner/subscription-plans.html
  supabase/functions/create-pending-user/index.ts
  supabase/functions/finalize-registration/index.ts
  supabase/functions/whatsapp-link-confirm/index.ts
  supabase/functions/whatsapp-link-request/index.ts
  supabase/migrations/20260208170000_whatsapp_profile_fields.sql
Due: prettier, eslint

Refine WhatsApp-focused auth UI
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

Add WhatsApp linking UI in profile
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

Refine learner dashboard layout
  apps/learner/admin-board.html
Due: prettier

Add WhatsApp OTP resend cooldown countdown
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
Due: prettier, eslint

Refactor login to chooser-based auth options
  apps/learner/login.html
  apps/learner/src/auth.js
Due: prettier, eslint

Use WhatsApp logo on WhatsApp buttons
  apps/assets/whatsapp-logo.svg
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

Make WhatsApp buttons logo-only
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

Revert "Make WhatsApp buttons logo-only"
  apps/learner/admin-board.html
  apps/learner/login.html
  apps/learner/src/auth.js
  apps/learner/src/dashboard.js
  apps/learner/subscription-plans.html
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(html|htm|xhtml)$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$
