Repository ayomide0806967/TOPTOP: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: detect-private-key

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          [javascript, jsx, ts, tsx, json, yaml, html, css, scss, markdown]
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings=0 --ext .js,.jsx,.cjs,.mjs
        language: system
        types_or: [javascript, jsx]

fix: highlight daily quiz CTA
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

Revert "fix: highlight daily quiz CTA"
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

fix: show bonus badge for scheduled sets
  apps/learner/src/dashboard.js
Due: prettier, eslint

Add community forum with learner UI and schema
  apps/admin/src/services/dataService.js
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  docs/community-forum.md
  supabase/migrations/20251216100000_community_forum.sql
Due: prettier, eslint

Fix community migration to skip storage RLS toggle
  supabase/migrations/20251216100000_community_forum.sql
Due: none

Inline community composer and show forum threads
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

Simplify learner community to single-room chat
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  docs/community-forum.md
  supabase/migrations/20251217100000_community_stream_chat.sql
Due: prettier, eslint

Keep community view persistent for inactive plans
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
Due: prettier, eslint

Disable learner PWA and align community styling
  apps/learner/admin-board.html
  apps/learner/src/pwa-bootstrap.js
  docs/PWA_STATUS.md
  docs/community-forum.md
Due: prettier, eslint

Remove community, add announcements, and limit PWA to exams
  apps/admin/src/services/dataService.js
  apps/admin/src/views/dashboard.js
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  apps/learner/src/pwa-bootstrap.js
  docs/PWA_STATUS.md
  docs/broadcast-notifications.md
  docs/community-forum.md
  supabase/migrations/20251217130000_remove_community_add_announcements.sql
Due: prettier, eslint

Add admin broadcast controls and learner dismissal banner
  apps/admin/src/services/dataService.js
  apps/admin/src/views/dashboard.js
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  docs/broadcast-notifications.md
Due: prettier, eslint

feat(payments): robust activation UX
  apps/learner/admin-board.html
  apps/learner/src/dashboard.js
  apps/learner/src/pricing.js
  apps/learner/src/resume-registration.js
Due: prettier, eslint

fix(resume-registration): honor planId URL param and persist snapshot; lint clean
  apps/learner/src/resume-registration.js
Due: prettier, eslint

feat(dashboard): payment refresh now attempts server-side verification via find-pending-registration when status remains pending
  apps/learner/src/dashboard.js
Due: prettier, eslint

Activate server-side payment reconciliation from learner flows and add scheduling docs
  apps/learner/src/dashboard.js
  apps/learner/src/pricing.js
  apps/learner/src/registration-before.js
  apps/learner/src/resume-registration.js
  docs/reconcile-payments-schedule.md
  supabase/functions/reconcile-payments/index.ts
Due: prettier, eslint

feat(site): add press release page; link from footer and precache
  apps/learner/index.html
  apps/learner/press-release.html
  apps/learner/service-worker.js
Due: prettier, eslint

feat(api): add /api/users/tenant and /api/subscription/status endpoints for Quiz Builder init + subscription checks
  supabase/functions/subscription/index.ts
  supabase/functions/users/index.ts
Due: prettier

feat(quizbuilder): support GitHub Pages by rewriting /api/* to Supabase Functions; normalize function paths; set API base from Supabase URL
  apps/quizbuilder/instructor.html
  apps/quizbuilder/quiz-builder-start.html
  apps/quizbuilder/shared/appInitializer.js
  supabase/functions/admin/index.ts
  supabase/functions/auth/index.ts
  supabase/functions/instructor/index.ts
  supabase/functions/subscription/index.ts
  supabase/functions/tenant-quiz/index.ts
  supabase/functions/users/index.ts
Due: prettier, eslint

fix(learner): rebuild Tailwind CSS to include translate-x utilities so leaderboard drawer is hidden by default
  apps/assets/tailwind.css
Due: prettier

chore(learner): bump service worker cache to v2 to refresh CSS (fix leaderboard overlay)
  apps/learner/service-worker.js
Due: prettier, eslint

feat(learner): remove Live Rankings star button and sidebar from exam page
  apps/learner/exam-face.html
Due: prettier

feat(landing): add 'Open Quiz Builder' CTA for tenants/instructors in hero section
  apps/learner/index.html
Due: prettier

ui: remove hero Quiz Builder CTA; enable Quiz Builder link in Features card for tenants/instructors
  apps/learner/index.html
Due: prettier

feat(quizbuilder): complete UI redesign with modern minimalist design
  apps/quizbuilder/index.html
  apps/quizbuilder/instructor.html
  apps/quizbuilder/login.html
  apps/quizbuilder/quiz-builder-start.html
  apps/quizbuilder/shared/openai-design-system.css
Due: prettier

chore(qb-detach): remove Quiz Builder Edge Functions from current project; switch QB pages to use window.__QB_SUPABASE_CONFIG__; stop redirecting QB login to Learner
  apps/quizbuilder/instructor.html
  apps/quizbuilder/login.html
  apps/quizbuilder/quiz-builder-start.html
  apps/quizbuilder/shared/supabaseClient.js
  supabase/functions/admin/index.ts
  supabase/functions/app-token/index.ts
  supabase/functions/auth/index.ts
  supabase/functions/instructor/index.ts
  supabase/functions/quiz-seat-upgrade/index.ts
  supabase/functions/subscription/index.ts
  supabase/functions/tenant-quiz/index.ts
  supabase/functions/users/index.ts
Due: prettier, eslint

Fix Paystack activation when users don’t return
  apps/learner/src/dashboard.js
  supabase/functions/_shared/paystack.ts
  supabase/functions/paystack-initiate/index.ts
  supabase/functions/paystack-verify/index.ts
  supabase/functions/paystack-webhook/index.ts
Due: prettier, eslint

fix(auth): improve login error handling for mobile devices
  apps/learner/src/auth.js
  apps/learner/src/authGuard.js
Due: prettier, eslint

fix(security): add search_path to fix mutable path warnings
  supabase/fix_search_path_security.sql
Due: none

fix(auth): allow expired users to login, fix username case sensitivity
  supabase/functions/lookup-username/index.ts
Due: prettier

feat(auth): allow unlimited concurrent sessions
  apps/learner/src/authGuard.js
Due: prettier, eslint

Fix pricing department sorting for null names
  apps/learner/src/pricing.js
Due: prettier, eslint

Remove Quiz Builder Pages workflow
  .github/workflows/quizbuilder-pages.yml
Due: prettier

Improve department labels when missing
  apps/learner/src/pricing.js
  apps/learner/src/resume-registration.js
Due: prettier, eslint

Fix admin load and restore department names
  apps/admin/service-worker.js
  apps/admin/src/main.js
  apps/admin/src/views/index.js
  supabase/public_read_departments.sql
Due: prettier, eslint

Tighten registration email validation
  apps/learner/src/registration-before.js
Due: prettier, eslint

Fix admin stats fallback and add restore SQL
  apps/admin/src/services/dataService.js
  supabase/cleanup_quizbuilder.sql
  supabase/rebuild_subscription_products_with_plans.sql
  supabase/restore_admin_dashboard_stats.sql
Due: prettier, eslint

Add smart email domain heuristics
  apps/learner/src/registration-before.js
Due: prettier, eslint
